# --- Core Data Engine ---
polars>=1.3.0
pyarrow>=17.0.0
pandas>=2.2.3
numpy>=1.26.0
duckdb>=1.0.0          # AJOUTÉ : Crucial pour ton Feature Store

# --- Modeling & ML ---
xgboost>=2.1.0
scikit-learn>=1.5.0
joblib>=1.4.0
psutil>=5.9.8
shap>=0.42.0

# --- MLOps & Tracking ---
mlflow>=2.18.0
hydra-core>=1.3.2
omegaconf>=2.3.0
python-dotenv>=1.0.1
pydantic>=2.7.0

# --- Web & UI ---
streamlit>=1.35.0      # AJOUTÉ : Pour ton interface
fastapi>=0.111.0
uvicorn>=0.30.0
python-multipart>=0.0.9

# --- Infrastructure ---
boto3>=1.35.0
botocore==1.42.82

# --- Visualization & Validation ---
matplotlib>=3.9.0
seaborn>=0.13.0
pytest>=8.2.0
